*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
}

.container div{
    height: 100px;
    background-color: greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
}