*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
}

/* h1{
    background-color: brown;
    display: inline;
}

span{
    background-color: aquamarine;
    display: block;
}

ul{
    background-color: yellow;
    height: 100px;
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly;  */

/* li{
    background-color: brown;
    list-style-type: none;
    /* display: inline-block;
    line-height: 30px; */


.display{
    height: 700px;
    width: 70vw;
    border: 4px dotted red;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    flex-direction: row;
}

.box{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}